<section id="why">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ site.feature.header }}</h2>
                <hr class="primary">
                <br />
            </div>
        </div>
    </div>
    <div class="container">
        {% assign rows = site.feature.featureList.size | divided_by: 4.0 | ceil %}
        {% for i in (1..rows) %}
            {% assign offset = forloop.index0 | times: 4 %}
            <div class="row">
                {% for feature in site.feature.featureList limit:4 offset:offset %}
                <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x {{feature.icon}} wow bounceIn text-primary"></i>
                            <h3>{{feature.header}}</h3>
                            <p class="text-muted">{{feature.description}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</section>
