<section id="portfolio" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">{{ site.portfolio.header }}</h2>
                <p>{{ site.portfolio.subheader }}</p>
                <hr>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="portfolio-flex-container">
            {% for pf in site.portfolio.portfolioList %}
            <!-- <div class="portfolio-flex-item"> -->
                <a href="{{ pf.link }}" class="portfolio-box portfolio-flex-item">
                    <img src="{{ pf.imgPath }}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ pf.category }}
                            </div>
                            <div class="project-name">
                                {{ pf.title }}
                            </div>
                        </div>
                    </div>
                </a>
            <!-- </div> -->
            {% endfor %}
        </div>
    </div>
</section>
