<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html 
    header_description= "Her türlü outdoor aktivitesi ve lokasyonları hakkında kapsamlı bilgi edinin, Outdoor Aktivite Sağlayıcıları ile online ve güvenilir alışveriş yapın."
    demo_screen_path="/img/breathub-demo-screen.png"
    %}
  {% include call-to-action.html %}
  {% include services.html %}
  {% include portfolio.html %}
  {% include feature.html %}
  {% include quote.html %}
  {% include aside.html %}
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>
